In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HousingInventory.csv')
print(df.shape)
df.head()

C:\Users\robin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(251983, 38)

,RE,building,mail_1,mail_2,mail_city,mail_state,mail_zipcode,subdivision,neighborhood,perc_capped,...,bedrooms,baths,rooms,street_num,direction,street_name,street_type,unit,city,zipcode
0,000006 0030,1,2503 SUMMERFIELD LN,NaN,JACKSONVILLE,FL,32234,SECTION LAND,417300.2,1.0,...,3.0,2.0,1.0,2503.0,NaN,SUMMERFIELD,LN,NaN,JACKSONVILLE,32234
1,000007 0010,1,PO BOX 23637,NaN,JACKSONVILLE,FL,32241,SECTION LAND,417300.2,0.0,...,3.0,1.0,1.0,2610.0,N,U S 301,HWY,NaN,JACKSONVILLE,32234
2,000009 0100,1,2495 U S 301 HWY N,NaN,BALDWIN,FL,32234,SECTION LAND,417300.2,1.0,...,4.0,2.0,1.0,2495.0,N,U S 301,HWY,NaN,JACKSONVILLE,32234
3,000011 0000,1,2425 US HWY 301 N,NaN,BALDWIN,FL,32234,SECTION LAND,417300.2,0.0,...,2.0,1.5,1.0,2435.0,N,U S 301,HWY,NaN,JACKSONVILLE,32234
4,000012 0010,1,2204 US HIGHWAY 301 N,NaN,JACKSONVILLE,FL,32234,SECTION LAND,417300.2,1.0,...,3.0,2.0,1.0,2204.0,N,U S 301,HWY,NaN,JACKSONVILLE,32234

In [3]:
dummies = df[['RE','building','char_descr']]
dummies = pd.get_dummies(data=dummies, columns=['char_descr'], prefix='char')
print(dummies.shape)
dummies.head()

(251983, 112)

,RE,building,char_103RD/TIMIQUANA,char_3RD ST. BEACHES,char_ARLINGTON RD,char_ARLINGTON RIVER,char_ATL BV HART BR TO OCEAN,char_ATLANTIC BVD TO HART BR,char_BAYMEADOWS WEST,char_BEACH BVD,...,char_ST. JOHNS BLUFF RD,char_STRAWBERRY CREEK,char_SUNBEAM ROAD,char_TALLEYRAND AV,char_TROUT CREEK,char_TROUT RIVER,char_U.S. 1,char_UNIVERSITY BVD NORTH,char_UNIVERSITY BVD SOUTH,char_US90/BEAVER
0,000006 0030,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000007 0010,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,000009 0100,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,000011 0000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,000012 0010,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
dummies = dummies.groupby(by=['RE', 'building']).sum()
dummies = dummies.reindex()
print(dummies.shape)

(250906, 110)

In [5]:
df = df.drop(columns=['char_descr'])
RE_b = []
for i in range(len(df['RE'])):
    RE_b.append(df['RE'][i]+str(df['building'][i]))
df['RE_b'] = RE_b
df.drop_duplicates(subset='RE_b', inplace=True)
df = df.drop(columns='RE_b')
df = df.reindex()
df.shape

(250906, 37)

In [6]:
df = pd.merge(df, dummies, how="left", on=['RE', 'building'])
df.shape

(250906, 147)

In [7]:
df2 = pd.read_csv('HousingFeatures.csv')
dummies = df2[['RE','building','ft_descr']]
dummies = pd.get_dummies(data=dummies, columns=['ft_descr'], prefix='ft')
dummies = dummies.groupby(by=['RE', 'building']).sum()
dummies = dummies.reindex()
print(dummies.shape)

(250906, 76)

In [8]:
df2 = df2.drop(columns=['ft_descr'])
print(df2.shape)
df2.drop_duplicates(inplace=True)
df2 = df2.reindex()
print(df2.shape)

(390173, 8)
(250906, 8)

In [9]:
df2 = pd.merge(df2, dummies, how="left", on=['RE', 'building'])
print(df2.shape)

(250906, 84)

In [10]:
df = pd.merge(df, df2, how='left', on=['RE', 'building'])
df.shape

(250906, 229)

In [11]:
df3 = pd.read_csv('HousingSubfeatures.csv')
dummies = df3[['RE','building','substructure_descr']]
dummies = pd.get_dummies(data=dummies, columns=['substructure_descr'], prefix='sub')
dummies = dummies.groupby(by=['RE', 'building']).sum()
dummies = dummies.reindex()
print(dummies.shape)
df3 = df3.drop(columns=['substructure_descr'])
print(df3.shape)
df3.drop_duplicates(inplace=True)
df3 = df3.reindex()
print(df3.shape)
df3 = pd.merge(df3, dummies, how="left", on=['RE', 'building'])
print(df3.shape)

(249346, 40)
(798147, 7)
(249346, 7)
(249346, 47)

In [12]:
df = pd.merge(df, df3, how='left', on=['RE', 'building'])
df.shape

(250906, 274)

In [13]:
df4 = pd.read_csv('HousingLand.csv')
dummies = df4[['RE','building','use_descr']]
dummies = pd.get_dummies(data=dummies, columns=['use_descr'], prefix='land')
dummies = dummies.groupby(by=['RE', 'building']).sum()
dummies = dummies.reindex()
print(dummies.shape)
df4 = df4.drop(columns=['use_descr'])
print(df4.shape)
df4.drop_duplicates(inplace=True)
df4 = df4.reindex()
print(df4.shape)
df4 = pd.merge(df4, dummies, how="left", on=['RE', 'building'])
print(df4.shape)

(250906, 65)
(256398, 5)
(250906, 5)
(250906, 70)

In [14]:
df = pd.merge(df, df4, how='left', on=['RE', 'building'])
df.shape

(250906, 342)

In [15]:
df5 = pd.read_csv('QualifiedImprovedTotals.csv')
df5.shape

(268991, 7)

In [16]:
df = pd.merge(df, df5, how='left', on=['RE'])
df.shape

(250906, 348)

In [17]:
all_sales = pd.read_csv('QualifiedImprovedAll.csv')
parcels = df[['RE']]
home_sales = pd.merge(parcels, all_sales, how='inner', on=['RE'])
home_sales.shape

(443983, 3)

In [18]:
home_sales.head()

            RE   sale_date     price
0  000006 0030  2004-07-09  192000.0
1  000007 0010  1983-03-11   18000.0
2  000007 0010  2018-01-04  150000.0
3  000014 0060  1999-08-23  106500.0
4  000015 0010  1978-05-30   43400.0

In [19]:
df.to_csv('HousingData.csv')
home_sales.to_csv('HomeSales.csv')