In [18]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('DuvalSFR.csv')

In [20]:
print(df.shape)
df.head()

(252463, 320)

,RE,owner_1,owner_2,owner_3,mailing_address,mailing_city,mailing_state,property_use,subdivision,neighborhood,...,sub19_effecarea,sub19_heatedarea,sub20,sub20_actualarea,sub20_effecarea,sub20_heatedarea,sub21,sub21_actualarea,sub21_effecarea,sub21heated_area
0,000006 0030,NADELEN ROBERT CARL JR,NADELEN ELIZABETH ANN,NaN,2503 SUMMERFIELD LN,JACKSONVILLE,FL,100,SECTION LAND,417300.2,...,0,0,NaN,0,0,0,NaN,0,0,0
1,000007 0010,BRYCEVILLE LAND LLC,NaN,NaN,PO BOX 23637,JACKSONVILLE,FL,100,SECTION LAND,417300.2,...,0,0,NaN,0,0,0,NaN,0,0,0
2,000009 0100,ENGEL ROBERT W,ENGEL GEORGEANN A,NaN,2495 U S 301 HWY N,BALDWIN,FL,100,SECTION LAND,417300.2,...,0,0,NaN,0,0,0,NaN,0,0,0
3,000011 0000,BYRD FAMILY TRUST,BYRD JOEY B,BYRD LISA R,2425 US HWY 301 N,BALDWIN,FL,100,SECTION LAND,417300.2,...,0,0,NaN,0,0,0,NaN,0,0,0
4,000012 0010,WHITTY MICHAEL S,WHITTY DEBORAH B,NaN,2204 US HIGHWAY 301 N,JACKSONVILLE,FL,100,SECTION LAND,417300.2,...,0,0,NaN,0,0,0,NaN,0,0,0

In [21]:
for column in df.columns:
    print(column, '|', df[column].dtype, '|', df[column].count())

RE | object | 252463
owner_1 | object | 252463
owner_2 | object | 126671
owner_3 | object | 10736
mailing_address | object | 252463
mailing_city | object | 252463
mailing_state | object | 252463
property_use | int64 | 252463
subdivision | object | 252463
neighborhood | float64 | 252463
val_method | int64 | 252463
cap_base_yr | int64 | 252463
market_val | int64 | 252463
assessed_val | int64 | 252463
building_val | int64 | 252463
just_val | int64 | 252463
school_taxable | int64 | 252463
county_taxable | int64 | 252463
sjrwnd_taxable | int64 | 252463
taxing_district | object | 252463
square_feet | int64 | 252463
char_1 | object | 20616
char_2 | object | 734
char_3 | object | 3
building | int64 | 252463
type_descr | object | 252463
style | int64 | 252463
class | int64 | 252463
quality | float64 | 252463
actual_yr_built | int64 | 252463
effec_yr_built | int64 | 252463
perc_complete | float64 | 252463
value | int64 | 252463
heated_sf | int64 | 252463
stories | float64 | 252463
bedrooms | float64 | 252463
baths | float64 | 252463
rooms | float64 | 252463
restrooms | float64 | 252463
avg_story_height | float64 | 252463
landuse_1 | object | 252454
zoning_1 | object | 252454
unit_type_1 | object | 252454
units_1 | float64 | 252463
land_val_1 | int64 | 252463
landuse_2 | object | 4678
zoning_2 | object | 4678
unit_type_2 | object | 4678
units_2 | float64 | 252463
land_val_2 | int64 | 252463
landuse_3 | object | 414
zoning_3 | object | 414
unit_type_3 | object | 414
units_3 | float64 | 252463
land_val_3 | int64 | 252463
landuse_4 | object | 50
zoning_4 | object | 50
unit_type_4 | object | 50
units_4 | float64 | 252463
land_val_4 | int64 | 252463
landuse_5 | object | 10
zoning_5 | object | 10
unit_type_5 | object | 10
units_5 | float64 | 252463
land_val_5 | int64 | 252463
landuse_6 | float64 | 0
zoning_6 | float64 | 0
unit_type_6 | float64 | 0
units_6 | float64 | 252463
land_val_6 | int64 | 252463
landuse_7 | float64 | 0
zoning_7 | float64 | 0
unit_type_7 | float64 | 0
units_7 | float64 | 252463
land_val_7 | int64 | 252463
landuse_8 | float64 | 0
zoning_8 | float64 | 0
unit_type_8 | float64 | 0
units_8 | float64 | 252463
land_val_8 | int64 | 252463
landuse_9 | float64 | 0
zoning_9 | float64 | 0
unit_type_9 | float64 | 0
units_9 | float64 | 252463
land_val_9 | int64 | 252463
landuse_10 | float64 | 0
zoning_10 | float64 | 0
unit_type_10 | float64 | 0
units_10 | float64 | 252463
land_val_10 | int64 | 252463
trans_id | object | 42922
status | object | 42922
reason | object | 42922
sale_date | object | 42922
seller_1 | object | 42922
seller_2 | object | 2
improved | object | 42922
price | int64 | 252463
feat1 | object | 159134
feat1_grade | float64 | 252463
feat1_units | float64 | 252463
feat1_ppu | float64 | 252463
feat1_yr_built | int64 | 252463
feat1_deprec_val | int64 | 252463
feat2 | object | 76469
feat2_grade | float64 | 252463
feat2_units | float64 | 252463
feat2_ppu | float64 | 252463
feat2_yr_built | int64 | 252463
feat2_deprec_val | int64 | 252463
feat3 | object | 33293
feat3_grade | float64 | 252463
feat3_units | float64 | 252463
feat3_ppu | float64 | 252463
feat3_yr_built | int64 | 252463
feat3_deprec_val | int64 | 252463
feat4 | object | 13745
feat4_grade | float64 | 252463
feat4_units | float64 | 252463
feat4_ppu | float64 | 252463
feat4_yr_built | int64 | 252463
feat4_deprec_val | int64 | 252463
feat5 | object | 5423
feat5_grade | float64 | 252463
feat5_units | float64 | 252463
feat5_ppu | float64 | 252463
feat5_yr_built | int64 | 252463
feat5_deprec_val | int64 | 252463
feat6 | object | 2311
feat6_grade | float64 | 252463
feat6_units | float64 | 252463
feat6_ppu | float64 | 252463
feat6_yr_built | int64 | 252463
feat6_deprec_val | int64 | 252463
feat7 | object | 1035
feat7_grade | float64 | 252463
feat7_units | float64 | 252463
feat7_ppu | float64 | 252463
feat7_yr_built | int64 | 252463
feat7_deprec_val | int64 | 252463
feat8 | object | 497
feat8_grade | float64 | 252463
feat8_units | float64 | 252463
feat8_ppu | float64 | 252463
feat8_yr_built | int64 | 252463
feat8_deprec_val | int64 | 252463
feat9 | object | 235
feat9_grade | float64 | 252463
feat9_units | float64 | 252463
feat9_ppu | float64 | 252463
feat9_yr_built | int64 | 252463
feat9_deprec_val | int64 | 252463
feat10 | object | 128
feat10_grade | float64 | 252463
feat10_units | float64 | 252463
feat10_ppu | float64 | 252463
feat10_yr_built | int64 | 252463
feat10_deprec_val | int64 | 252463
feat11 | object | 54
feat11_grade | float64 | 252463
feat11_units | float64 | 252463
feat11_ppu | float64 | 252463
feat11_yr_built | int64 | 252463
feat11_deprec_val | int64 | 252463
feat12 | object | 23
feat12_grade | float64 | 252463
feat12_units | float64 | 252463
feat12_ppu | float64 | 252463
feat12_yr_built | int64 | 252463
feat12_deprec_val | int64 | 252463
feat13 | object | 10
feat13_grade | float64 | 252463
feat13_units | float64 | 252463
feat13_ppu | float64 | 252463
feat13_yr_built | int64 | 252463
feat13_deprec_val | int64 | 252463
feat14 | object | 4
feat14_grade | float64 | 252463
feat14_units | float64 | 252463
feat14_ppu | float64 | 252463
feat14_yr_built | int64 | 252463
feat14_deprec_val | int64 | 252463
feat15 | object | 3
feat15_grade | float64 | 252463
feat15_units | float64 | 252463
feat15_ppu | float64 | 252463
feat15_yr_built | int64 | 252463
feat15_deprec_val | int64 | 252463
feat16 | object | 2
feat16_grade | float64 | 252463
feat16_units | float64 | 252463
feat16_ppu | float64 | 252463
feat16_yr_built | int64 | 252463
feat16_deprec_val | int64 | 252463
feat17 | object | 1
feat17_grade | float64 | 252463
feat17_units | float64 | 252463
feat17_ppu | float64 | 252463
feat17_yr_built | int64 | 252463
feat17_deprec_val | int64 | 252463
feat18 | float64 | 0
feat18_grade | float64 | 252463
feat18_units | float64 | 252463
feat18_ppu | float64 | 252463
feat18_yr_built | int64 | 252463
feat18_deprec_val | int64 | 252463
feat19 | float64 | 0
feat19_grade | float64 | 252463
feat19_units | float64 | 252463
feat19_ppu | float64 | 252463
feat19_yr_built | int64 | 252463
feat19_deprec_val | int64 | 252463
feat20 | float64 | 0
feat20_grade | float64 | 252463
feat20_units | float64 | 252463
feat20_ppu | float64 | 252463
feat20_yr_built | int64 | 252463
feat20_deprec_val | int64 | 252463
feat21 | float64 | 0
feat21_grade | float64 | 252463
feat21_units | float64 | 252463
feat21_ppu | float64 | 252463
feat21_yr_built | int64 | 252463
feat21_deprec_val | int64 | 252463
feat22 | float64 | 0
feat22_grade | float64 | 252463
feat22_units | float64 | 252463
feat22_ppu | float64 | 252463
feat22_yr_built | int64 | 252463
feat22_deprec_val | int64 | 252463
feat23 | float64 | 0
feat23_grade | float64 | 252463
feat23_units | float64 | 252463
feat23_ppu | float64 | 252463
feat23_yr_built | int64 | 252463
feat23_deprec_val | int64 | 252463
sub1 | object | 252463
sub1_actualarea | int64 | 252463
sub1_effecarea | int64 | 252463
sub1_heatedarea | int64 | 252463
sub2 | object | 250802
sub2_actualarea | int64 | 252463
sub2_effecarea | int64 | 252463
sub2_heatedarea | int64 | 252463
sub3 | object | 241144
sub3_actualarea | int64 | 252463
sub3_effecarea | int64 | 252463
sub3_heatedarea | int64 | 252463
sub4 | object | 168680
sub4_actualarea | int64 | 252463
sub4_effecarea | int64 | 252463
sub4_heatedarea | int64 | 252463
sub5 | object | 87400
sub5_actualarea | int64 | 252463
sub5_effecarea | int64 | 252463
sub5_heatedarea | int64 | 252463
sub6 | object | 37567
sub6_actualarea | int64 | 252463
sub6_effecarea | int64 | 252463
sub6_heatedarea | int64 | 252463
sub7 | object | 17977
sub7_actualarea | int64 | 252463
sub7_effecarea | int64 | 252463
sub7_heatedarea | int64 | 252463
sub8 | object | 9705
sub8_actualarea | int64 | 252463
sub8_effecarea | int64 | 252463
sub8_heatedarea | int64 | 252463
sub9 | object | 5354
sub9_actualarea | int64 | 252463
sub9_effecarea | int64 | 252463
sub9_heatedarea | int64 | 252463
sub10 | object | 3315
sub10_actualarea | int64 | 252463
sub10_effecarea | int64 | 252463
sub10_heatedarea | int64 | 252463
sub11 | object | 2139
sub11_actualarea | int64 | 252463
sub11_effecarea | int64 | 252463
sub11_heatedarea | int64 | 252463
sub12 | object | 1398
sub12_actualarea | int64 | 252463
sub12_effecarea | int64 | 252463
sub12_heatedarea | int64 | 252463
sub13 | object | 955
sub13_actualarea | int64 | 252463
sub13_effecarea | int64 | 252463
sub13_heatedarea | int64 | 252463
sub14 | object | 670
sub13_actualarea:1 | int64 | 252463
sub14_effecarea | int64 | 252463
sub14_heatedarea | int64 | 252463
sub15 | object | 478
sub15_actualarea | int64 | 252463
sub15_effecarea | int64 | 252463
sub15_heatedarea | int64 | 252463
sub16 | object | 333
sub16_actualarea | int64 | 252463
sub16_effecarea | int64 | 252463
sub16_heatedarea | int64 | 252463
sub17 | object | 244
sub17_actualarea | int64 | 252463
sub17_effecarea | int64 | 252463
sub17_heatedarea | int64 | 252463
sub18 | object | 189
sub18_actualarea | int64 | 252463
sub18_effecarea | int64 | 252463
sub18_heatedarea | int64 | 252463
sub19 | object | 147
sub19_actualarea | int64 | 252463
sub19_effecarea | int64 | 252463
sub19_heatedarea | int64 | 252463
sub20 | object | 116
sub20_actualarea | int64 | 252463
sub20_effecarea | int64 | 252463
sub20_heatedarea | int64 | 252463
sub21 | object | 83
sub21_actualarea | int64 | 252463
sub21_effecarea | int64 | 252463
sub21heated_area | int64 | 252463

In [44]:
# df = df.fillna(value={'owner_2':'NONE','owner_3':'NONE'})
df.neighborhood = df.neighborhood.astype('object')
df.drop(columns=['property_use','perc_complete','restrooms',
                'avg_story_height','reason','improved',
                'landuse_6','landuse_7','landuse_8','landuse_9','landuse_10',
                'zoning_6','zoning_7','zoning_8','zoning_9','zoning_10',
                'unit_type_6','unit_type_7','unit_type_8','unit_type_9','unit_type_10',
                'units_6','units_7','units_8','units_9','units_10',
                'land_val_7','land_val_8','land_val_9','land_val_10',
                'seller_2',
                'feat18','feat19','feat20','feat21','feat22','feat23',
                'feat18_grade','feat19_grade','feat20_grade','feat21_grade','feat22_grade','feat23_grade',
                'feat18_units','feat19_units','feat20_units','feat21_units','feat22_units','feat23_units',
                'feat18_ppu','feat19_ppu','feat20_ppu','feat21_ppu','feat22_ppu','feat23_ppu',
                'feat18_yr_built','feat19_yr_built','feat20_yr_built','feat21_yr_built','feat22_yr_built','feat23_yr_built',
                'feat18_deprec_val','feat19_deprec_val','feat20_deprec_val','feat21_deprec_val','feat22_deprec_val','feat23_deprec_val'
                ],
        inplace=True)
df.shape

(252463, 253)

In [49]:
print(df.landuse_1.unique())

['AGR IV - 1 UNIT PER 2.5 ACRES' 'RES LD 3-7 UNITS PER AC' 'COMMERCIAL'
 'RES RURAL 2 OR LESS UNITS PER AC' 'MIXED-USE PREDOM RES'
 'RES MD 8-19 UNITS PER AC' 'MIXED-USE PREDOM COMMERCIAL'
 'AGR II - 1 UNIT PER 40 ACRES' 'RES NATURAL LD 3-7 UNITS PER AC'
 'RES POND LD 3-7 UNITS PER AC' 'AGR III - 1 UNIT PER 10 ACRES'
 'AGR I - 1 UNIT PER 100 ACRES' 'OFFICE' 'LIGHT INDUSTRIAL'
 'CONSERVATION EASEMENT    ' 'BUSINESS PARK 1'
 'RES NATURAL RURAL 2 OR LESS UTS/AC'
 'RES POND RURAL 2 OR LESS UNITS PER AC'
 'RES RIVER RURAL 2 OR LESS UNITS PER AC' 'RES MARSH LD 3-7 UNITS PER AC'
 'RES RIVER LD 3-7 UNITS PER AC' 'COMM/RES/OFF' 'INSTITUTIONAL'
 'RES CANAL RURAL 2 OR LESS UNITS PER AC' 'RES CANAL LD 3-7 UNITS PER AC'
 'RES MARSH RURAL 2 OR LESS UNITS PER AC' 'HEAVY INDUSTRIAL' 'POND / LAKE'
 'RES/OFFICE' 'RES POND MD 8-19 UNITS PER AC'
 'RES NATURAL MD 8-19 UNITS PER AC' 'SWAMP                    '
 'RES GOLF LD 3-7 UNITS PER AC' 'EXCESS LAND              '
 'RIGHT-OF-WAY & STS       ' 'RES HD 20-60 UNITS PER AC'
 'RES CANAL MD 8-19 UNITS PER AC' 'COMMERCIAL WATERFRONT'
 'RES RIVER MD 8-19 UNITS PER AC' 'WASTE LAND               '
 'RES/OFFICE WATERFRONT' 'SFR GOLF COURSE' 'MH MD 8-19 UNITS PER AC'
 'BORROW PIT & DRAIN RESERV' 'AGR IV RIVER - 1 UNIT PER 2.5 ACRES'
 'WATER DEPENDENT INDUSTRIAL' 'RES MARSH MD 8-19 UNITS PER AC'
 'RES GOLF MD 8-19 UNITS PER AC' 'AGR IV CANAL - 1 UNIT PER 2.5 ACRES'
 'AGR IV MARSH - 1 UNIT PER 2.5 ACRES'
 'AGR III MARSH - 1 UNIT PER 10 ACRES' 'RES OCEAN HD 20-60 UNITS PER AC'
 'RES OCEAN LD 3-7 UNITS PER AC' 'RES NATURAL HD 20-60 UNITS AC'
 'RES OCEAN MD 8-19 UNITS PER AC' 'MARSH                    '
 'RES POND HD 20-60 UNITS PER AC' nan]

In [50]:
l_uses = ['landuse_1', 'landuse_2', 'landuse_3', 'landuse_4', 'landuse_5']
for use in l_uses:
    print(use)
    df = df.fillna(value={use:'NA'})
    for i in range(len(df[use])):
        if df[use][i] != 'NA':
            lst = df[use][i].split()
            w = str()
            for word in lst: 
                w = w + ' ' + word.strip()
            df[use][i] = w.strip()
            if i % 10000 == 0:
                print(i)
sorted(df.landuse_1.unique())

landuse_1

<ipython-input-50-2efad9dafb7a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[use][i] = w.strip()

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
landuse_2
240000
landuse_3
240000
landuse_4
landuse_5

['AGR I - 1 UNIT PER 100 ACRES',
 'AGR II - 1 UNIT PER 40 ACRES',
 'AGR III - 1 UNIT PER 10 ACRES',
 'AGR III MARSH - 1 UNIT PER 10 ACRES',
 'AGR IV - 1 UNIT PER 2.5 ACRES',
 'AGR IV CANAL - 1 UNIT PER 2.5 ACRES',
 'AGR IV MARSH - 1 UNIT PER 2.5 ACRES',
 'AGR IV RIVER - 1 UNIT PER 2.5 ACRES',
 'BORROW PIT & DRAIN RESERV',
 'BUSINESS PARK 1',
 'COMM/RES/OFF',
 'COMMERCIAL',
 'COMMERCIAL WATERFRONT',
 'CONSERVATION EASEMENT',
 'EXCESS LAND',
 'HEAVY INDUSTRIAL',
 'INSTITUTIONAL',
 'LIGHT INDUSTRIAL',
 'MARSH',
 'MH MD 8-19 UNITS PER AC',
 'MIXED-USE PREDOM COMMERCIAL',
 'MIXED-USE PREDOM RES',
 'NA',
 'OFFICE',
 'POND / LAKE',
 'RES CANAL LD 3-7 UNITS PER AC',
 'RES CANAL MD 8-19 UNITS PER AC',
 'RES CANAL RURAL 2 OR LESS UNITS PER AC',
 'RES GOLF LD 3-7 UNITS PER AC',
 'RES GOLF MD 8-19 UNITS PER AC',
 'RES HD 20-60 UNITS PER AC',
 'RES LD 3-7 UNITS PER AC',
 'RES MARSH LD 3-7 UNITS PER AC',
 'RES MARSH MD 8-19 UNITS PER AC',
 'RES MARSH RURAL 2 OR LESS UNITS PER AC',
 'RES MD 8-19 UNITS PER AC',
 'RES NATURAL HD 20-60 UNITS AC',
 'RES NATURAL LD 3-7 UNITS PER AC',
 'RES NATURAL MD 8-19 UNITS PER AC',
 'RES NATURAL RURAL 2 OR LESS UTS/AC',
 'RES OCEAN HD 20-60 UNITS PER AC',
 'RES OCEAN LD 3-7 UNITS PER AC',
 'RES OCEAN MD 8-19 UNITS PER AC',
 'RES POND HD 20-60 UNITS PER AC',
 'RES POND LD 3-7 UNITS PER AC',
 'RES POND MD 8-19 UNITS PER AC',
 'RES POND RURAL 2 OR LESS UNITS PER AC',
 'RES RIVER LD 3-7 UNITS PER AC',
 'RES RIVER MD 8-19 UNITS PER AC',
 'RES RIVER RURAL 2 OR LESS UNITS PER AC',
 'RES RURAL 2 OR LESS UNITS PER AC',
 'RES/OFFICE',
 'RES/OFFICE WATERFRONT',
 'RIGHT-OF-WAY & STS',
 'SFR GOLF COURSE',
 'SWAMP',
 'WASTE LAND',
 'WATER DEPENDENT INDUSTRIAL']

In [53]:
all_uses = list(df.landuse_1.unique()) + list(df.landuse_2.unique()) + list(df.landuse_3.unique()) \
           + list(df.landuse_4.unique()) + list(df.landuse_5.unique())
unique_uses = []
for use in all_uses:
    if use not in unique_uses and use != 'NA':
        unique_uses.append(use)
print(sorted(unique_uses))
print(len(unique_uses))

['AGR I - 1 UNIT PER 100 ACRES', 'AGR II - 1 UNIT PER 40 ACRES', 'AGR III - 1 UNIT PER 10 ACRES', 'AGR III MARSH - 1 UNIT PER 10 ACRES', 'AGR IV - 1 UNIT PER 2.5 ACRES', 'AGR IV CANAL - 1 UNIT PER 2.5 ACRES', 'AGR IV MARSH - 1 UNIT PER 2.5 ACRES', 'AGR IV RIVER - 1 UNIT PER 2.5 ACRES', 'BORROW PIT & DRAIN RESERV', 'BUSINESS PARK 1', 'COMM/RES/OFF', 'COMMERCIAL', 'COMMERCIAL WATERFRONT', 'CONSERVATION EASEMENT', 'EXCESS LAND', 'HEAVY INDUSTRIAL', 'INSTITUTIONAL', 'ISLAND', 'JURISDICTIONAL WETLANDS', 'LANDFILLS & DUMPS SOH', 'LIGHT INDUSTRIAL', 'MARSH', 'MH MD 8-19 UNITS PER AC', 'MIXED-USE PREDOM COMMERCIAL', 'MIXED-USE PREDOM RES', 'OFFICE', 'POND / LAKE', 'PRIVATE EASEMENTS', 'RES CANAL LD 3-7 UNITS PER AC', 'RES CANAL MD 8-19 UNITS PER AC', 'RES CANAL RURAL 2 OR LESS UNITS PER AC', 'RES GOLF LD 3-7 UNITS PER AC', 'RES GOLF MD 8-19 UNITS PER AC', 'RES HD 20-60 UNITS PER AC', 'RES LD 3-7 UNITS PER AC', 'RES MARSH LD 3-7 UNITS PER AC', 'RES MARSH MD 8-19 UNITS PER AC', 'RES MARSH RURAL 2 OR LESS UNITS PER AC', 'RES MD 8-19 UNITS PER AC', 'RES NATURAL HD 20-60 UNITS AC', 'RES NATURAL LD 3-7 UNITS PER AC', 'RES NATURAL MD 8-19 UNITS PER AC', 'RES NATURAL RURAL 2 OR LESS UTS/AC', 'RES OCEAN HD 20-60 UNITS PER AC', 'RES OCEAN LD 3-7 UNITS PER AC', 'RES OCEAN MD 8-19 UNITS PER AC', 'RES POND HD 20-60 UNITS PER AC', 'RES POND LD 3-7 UNITS PER AC', 'RES POND MD 8-19 UNITS PER AC', 'RES POND RURAL 2 OR LESS UNITS PER AC', 'RES RIVER LD 3-7 UNITS PER AC', 'RES RIVER MD 8-19 UNITS PER AC', 'RES RIVER RURAL 2 OR LESS UNITS PER AC', 'RES RURAL 2 OR LESS UNITS PER AC', 'RES/OFFICE', 'RES/OFFICE WATERFRONT', 'RETENTION POND', 'RIGHT-OF-WAY & STS', 'SALT WATER MARSH', 'SFR GOLF COURSE', 'SUBMERGED LAND', 'SWAMP', 'TOWER SITE', 'UTILITY', 'WASTE LAND', 'WATER DEPENDENT INDUSTRIAL']
66

In [ ]:
lists = {}
for item in sorted(unique_uses):
    lists[item] = []
for i in range(len(list(lists.keys()))):
    k = list(lists.keys())[i]
    print(k)
    for n in range(len(df)):
        if n % 20000 == 0:
            print(n)
        if df['landuse_1'][n] == k:
            lists[k] = lists[k] + [df['land_val_1'][n]]
        elif df['landuse_2'][n] == k:
            lists[k] = lists[k] + [df['land_val_2'][n]]
        elif df['landuse_3'][n] == k:
            lists[k] = lists[k] + [df['land_val_3'][n]]
        elif df['landuse_4'][n] == k:
            lists[k] = lists[k] + [df['land_val_4'][n]]
        elif df['landuse_5'][n] == k:
            lists[k] = lists[k] + [df['land_val_5'][n]]
        else:
            lists[k] = lists[k] + [0]

AGR I - 1 UNIT PER 100 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR II - 1 UNIT PER 40 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR III - 1 UNIT PER 10 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR III MARSH - 1 UNIT PER 10 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR IV - 1 UNIT PER 2.5 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR IV CANAL - 1 UNIT PER 2.5 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR IV MARSH - 1 UNIT PER 2.5 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
AGR IV RIVER - 1 UNIT PER 2.5 ACRES
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
BORROW PIT & DRAIN RESERV
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
BUSINESS PARK 1
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
COMM/RES/OFF
0
20000
40000
60000
80000
100000
120000
140000
160000
180000
200000
220000
240000
COMMERCIAL
0
20000
40000
60000
80000
100000
120000
140000
160000